language: cpp
sudo: false
matrix:
  include:
#  - os: linux
#    compiler: clang
#    addons:
#      apt:
#        sources:
#        - llvm-toolchain-precise
#        - ubuntu-toolchain-r-test
#        - boost-latest
#        - george-edison55-precise-backports
#        packages:
#        - python-numpy
#        - cmake
#        - cmake-data
#        - liblapack-dev
#        - clang-3.8
#        - libboost-filesystem1.55-dev
#        - libboost-chrono1.55-dev
#        - libboost-system1.55-dev
#        - libboost-timer1.55-dev
#        - libboost-python1.55-dev
#        - libboost-regex1.55-dev
#        - libboost-serialization1.55-dev
#        - libboost-thread1.55-dev
#        - gfortran
#    env: CXX_COMPILER='clang++-3.8' C_COMPILER='clang-3.8' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
# No release version for 3.8 because of a bug in that version of the compiler

  - os: linux
    compiler: clang
    addons: &1
      apt:
        sources:
        - llvm-toolchain-precise-3.5
        - ubuntu-toolchain-r-test
        - boost-latest
        - george-edison55-precise-backports
        packages:
        - python-numpy
        - cmake
        - cmake-data
        - liblapack-dev
        - clang-3.5
        - libhdf5-serial-dev
        - libboost-filesystem1.55-dev
        - libboost-chrono1.55-dev
        - libboost-system1.55-dev
        - libboost-timer1.55-dev
        - libboost-python1.55-dev
        - libboost-regex1.55-dev
        - libboost-serialization1.55-dev
        - libboost-thread1.55-dev
        - gfortran
    env: CXX_COMPILER='clang++-3.5' C_COMPILER='clang-3.5' Fortran_COMPILER='gfortran' BUILD_TYPE='release' BOOSTSTR=' ' BOOSTBUILD=''
#  - os: linux
#    compiler: clang
#    addons: *1
#    env: CXX_COMPILER='clang++-3.5' C_COMPILER='clang-3.5' Fortran_COMPILER='gfortran' BUILD_TYPE='debug' BOOSTSTR=' ' BOOSTBUILD=''

#  - os: linux
#    compiler: clang
#    addons: &2
#      apt:
#        sources:
#        - llvm-toolchain-precise-3.6
#        - ubuntu-toolchain-r-test
#        - boost-latest
#        - george-edison55-precise-backports
#        packages:
#        - python-numpy
#        - cmake
#        - cmake-data
#        - liblapack-dev
#        - clang-3.6
#        - libboost-filesystem1.55-dev
#        - libboost-chrono1.55-dev
#        - libboost-system1.55-dev
#        - libboost-timer1.55-dev
#        - libboost-python1.55-dev
#        - libboost-regex1.55-dev
#        - libboost-serialization1.55-dev
#        - libboost-thread1.55-dev
#        - gfortran
#    env: CXX_COMPILER='clang++-3.6' C_COMPILER='clang-3.6' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
#  - os: linux
#    compiler: clang
#    addons: *2
#    env: CXX_COMPILER='clang++-3.6' C_COMPILER='clang-3.6' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
  - os: linux
    compiler: clang
    addons: &3
      apt:
        sources:
        - llvm-toolchain-precise-3.6
        - ubuntu-toolchain-r-test
        - boost-latest
        - george-edison55-precise-backports
        packages:
        - python-numpy
        - cmake
        - cmake-data
        - liblapack-dev
        - clang-3.6
        - libhdf5-serial-dev
        - libboost-filesystem1.55-dev
        - libboost-chrono1.55-dev
        - libboost-system1.55-dev
        - libboost-timer1.55-dev
        - libboost-python1.55-dev
        - libboost-regex1.55-dev
        - libboost-serialization1.55-dev
        - libboost-thread1.55-dev
        - gfortran
    env: CXX_COMPILER='clang++-3.6' C_COMPILER='clang-3.6' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
#  - os: linux
#    compiler: clang
#    addons: *3
#    env: CXX_COMPILER='clang++-3.7' C_COMPILER='clang-3.7' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'

#  - os: linux
#    compiler: gcc
#    addons: &6
#      apt:
#        sources:
#        - ubuntu-toolchain-r-test
#        - george-edison55-precise-backports
#        packages:
#        - python-numpy
#        - cmake
#        - cmake-data
#        - liblapack-dev
#        - g++-4.7
#        - gcc-4.7
#        - gfortran-4.7
#    env: CXX_COMPILER='g++-4.7' C_COMPILER='gcc-4.7' Fortran_COMPILER='gfortran-4.7' BUILD_TYPE='release' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.7" OMP_NUM_THREADS=2
#  - os: linux
#    compiler: gcc
#    addons: *6
#    env: CXX_COMPILER='g++-4.7' C_COMPILER='gcc-4.7' Fortran_COMPILER='gfortran-4.7' BUILD_TYPE='debug' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.7" OMP_NUM_THREADS=2

  - os: linux
    compiler: gcc
    addons: &7
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - george-edison55-precise-backports
        packages:
        - python-numpy
        - cmake
        - cmake-data
        - liblapack-dev
        - libhdf5-serial-dev
        - g++-4.8
        - gcc-4.8
        - gfortran-4.8
    env: CXX_COMPILER='g++-4.8' C_COMPILER='gcc-4.8' Fortran_COMPILER='gfortran-4.8' BUILD_TYPE='release' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.8" OMP_NUM_THREADS=2
#  - os: linux
#    compiler: gcc
#    addons: *7
#    env: CXX_COMPILER='g++-4.8' C_COMPILER='gcc-4.8' Fortran_COMPILER='gfortran-4.8' BUILD_TYPE='debug' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.8" OMP_NUM_THREADS=2
#  - os: linux
#    compiler: gcc
#    addons: &8
#      apt:
#        sources:
#        - ubuntu-toolchain-r-test
#        - george-edison55-precise-backports
#        packages:
#        - python-numpy
#        - cmake
#        - cmake-data
#        - liblapack-dev
#        - g++-4.9
#        - gcc-4.9
#        - gfortran-4.9
#    env: CXX_COMPILER='g++-4.9' C_COMPILER='gcc-4.9' Fortran_COMPILER='gfortran-4.9' BUILD_TYPE='release' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.9" OMP_NUM_THREADS=2
#  - os: linux
#    compiler: gcc
#    addons: *8
#    env: CXX_COMPILER='g++-4.9' C_COMPILER='gcc-4.9' Fortran_COMPILER='gfortran-4.9' BUILD_TYPE='debug' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 4.9" OMP_NUM_THREADS=2
  - os: linux
    compiler: gcc
    addons: &9
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - george-edison55-precise-backports
        packages:
        - python-numpy
        - cmake
        - cmake-data
        - libhdf5-serial-dev
        - liblapack-dev
        - g++-5
        - gcc-5
        - gfortran-5
    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran-5' BUILD_TYPE='release' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 5" OMP_NUM_THREADS=2
  - os: linux
    compiler: gcc
    addons: *9
    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran-5' BUILD_TYPE='debug' BOOSTSTR="--boost-incdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0 --boost-libdir=${TRAVIS_BUILD_DIR}/boost_build/boost_1_57_0/stage/lib" BOOSTBUILD=".scripts/build_boost.sh 5" OMP_NUM_THREADS=2

#  - os: osx
#    osx_image: xcode6.4
#    compiler: clang
#    env: CXX_COMPILER='clang++' C_COMPILER='clang' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
#  - os: osx
#    osx_image: xcode6.4
#    compiler: clang
#    env: CXX_COMPILER='clang++' C_COMPILER='clang' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
#  - os: osx
#    osx_image: xcode7
#    compiler: clang
#    env: CXX_COMPILER='clang++' C_COMPILER='clang' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
#  - os: osx
#    osx_image: xcode7
#    compiler: clang
#    env: CXX_COMPILER='clang++' C_COMPILER='clang' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
#  - os: osx
#    osx_image: xcode6.4
#    compiler: gcc
#    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
#  - os: osx
#    osx_image: xcode6.4
#    compiler: gcc
#    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
#  - os: osx
#    osx_image: xcode7
#    compiler: gcc
#    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran' BUILD_TYPE='debug'
#  - os: osx
#    osx_image: xcode7
#    compiler: gcc
#    env: CXX_COMPILER='g++-5' C_COMPILER='gcc-5' Fortran_COMPILER='gfortran' BUILD_TYPE='release'
before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - python -V
install:
- DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
- mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
- |
  if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
    brew install cmake python
    brew install boost --with-python
    brew install boost-python
  fi
before_script:
- python -c 'import numpy; print numpy.version.version'
- cd ${TRAVIS_BUILD_DIR}
- export CXX=${CXX_COMPILER}
- export CC=${C_COMPILER}
- export FC=${Fortran_COMPILER}
- ${CXX_COMPILER} --version
- ${Fortran_COMPILER} --version
- ${C_COMPILER} --version
- ${BOOSTBUILD}
- > 
    cmake -Bbuild -H. 
    -DCMAKE_CXX_COMPILER=${CXX_COMPILER} 
    -DCMAKE_C_COMPILER=${C_COMPILER} 
    -DFortran_COMPILER=${Fortran_COMPILER} 
    -DCMAKE_BUILD_TYPE=${BUILD_TYPE} 
    -DLIBINT_OPT_AM=4 
    -DENABLE_CHEMPS2=off 
    -DCMAKE_INSTALL_PREFIX=${TRAVIS_BUILD_DIR}/Install
- cd build
- ../.scripts/travis_build.sh
script:
- python ../.scripts/travis_run.py
