trigger:
  - master
  - 1.3.x
  - 1.2.x
  - 1.1.x
  - 1.0.x

jobs:
  - template: ./.azure-pipelines/azure-pipelines-upload.yml
  - template: ./.azure-pipelines/azure-pipelines-windows.yml
  - template: ./.azure-pipelines/azure-pipelines-linux.yml
