$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  off
 global     off
 basis      off
$atoms
ne 1                                                                           \
   basis =ne cc-pVDZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=141
   natoms=1
   nshell=6
   nbf(CAO)=15
   dim(trafo[SAO<-->AO/CAO])=17
   rhfshells=1
   nbf(AO)=14
$scfmo   file=mos
$scfiterlimit      125
$thize     0.10000000E-06
$thime        4
$scfdump
$scfintunit
 unit=30       size=1000     file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  off
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pwlda
   gridsize   7
$scfconv        7
$scfdamp   start=0.700  step=0.050  min=0.050
$last step     dscf
$maxcor   8000 MiB  per_core
$rpacor  1000
$pop
$statpt
   itrvec 0
   tradius 0.3
   threchange  5.0d-7
   thrrmsgrad  5.0d-5
   thrmaxdispl 1.0d-1
   thrrmsdispl 1.0d-1
$ricore_slave 1
$pardft
$statistics off
$last SCF energy change = 0.75676261
$charge from dscf
         -0.000 (not to be modified here)
$dipole from dscf
  x    -0.00000000000000    y     0.00000000000000    z    -0.00000000000000    a.u.
   | dipole | =    0.0000000000  debye
$closed shells
 a       1-5                                    ( 2 )
$orbital_max_rnorm 0.15851561672123E-03
$end
