jobs:
# Configure, build, install, and test job
- job: 'linux_build'
  displayName: 'Linux Builds'
  timeoutInMinutes: 120
  variables:
    CTEST_OUTPUT_ON_FAILURE: 1
    MKL_CBWR: AVX
  strategy:
    maxParallel: 8
    matrix:
      gcc_6:
        CXX_COMPILER: 'g++-6'
        PYTHON_VER: '3.8'
        C_COMPILER: 'gcc-6'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran gcc-6 g++-6'
        vmImage: 'ubuntu-18.04'

      gcc_latest:
        CXX_COMPILER: 'g++'
        PYTHON_VER: '3.7'
        C_COMPILER: 'gcc'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran'
        vmImage: 'ubuntu-20.04'

      clang_latest:
        CXX_COMPILER: 'clang++'
        PYTHON_VER: '3.9'
        C_COMPILER: 'clang'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran clang-6.0'
        vmImage: 'ubuntu-20.04'

  pool:
    vmImage: $(vmImage)
  
  steps:
  - bash: |
      [[ "${APT_REPOSITORY}" ]] && echo "Add Repo ${APT_REPOSITORY}" && sudo add-apt-repository "${APT_REPOSITORY}"
      sudo apt-get update
      sudo apt-get install ${APT_INSTALL}
    displayName: "Apt-Get Packages"

  - bash: |
      echo "" && echo "Ubuntu"
      lsb_release -a

      echo "" && echo "Uname:"
      uname -a

      echo "" && echo "Free:"
      free -m

      echo "" && echo "df:"
      df -h

      echo "" && echo "Ulimit:"
      ulimit -a

      echo "" && echo "Nprocs:"
      getconf _NPROCESSORS_ONLN

      echo "CXX Ver:"
      ${CXX_COMPILER} --version
      ${CXX_COMPILER} -v

      echo "F Ver:"
      ${F_COMPILER} --version

      echo "C Ver:"
      ${C_COMPILER} --version
    displayName: "Setup Information"

  - bash: |
        echo "##vso[task.prependpath]$CONDA/bin"
        conda config --set always_yes yes
    displayName: "Add Conda to PATH"

  - bash: |
      conda create -q \
        -n p4env \
        python=$PYTHON_VER \
        psi4/label/dev::gau2grid \
        psi4/label/dev::libint2 \
        psi4/label/dev::libxc=5 \
        psi4/label/dev::ambit \
        psi4/label/dev::chemps2 \
        psi4/label/dev::dkh \
        psi4/label/dev::gdma \
        psi4/label/dev::pcmsolver \
        psi4/label/dev::simint \
        psi4/label/dev::dftd3 \
        psi4/label/dev::gcp \
        psi4/label/dev::resp \
        psi4/label/dev::pycppe \
        psi4/label/dev::pylibefp \
        psi4/label/dev::snsmp2 \
        psi4/label/dev::fockci \
        psi4/label/dev::mp2d \
        psi4/label/dev::pybind11-headers \
        blas=*=mkl \
        mkl-include \
        networkx \
        pytest \
        eigen \
        mpfr \
        pytest-xdist \
        msgpack-python \
        conda-forge::qcelemental \
        conda-forge::qcengine \
        conda-forge::pymdi \
        pandas!=1.3.0 \
        adcc::adcc
      source activate p4env
      which python
      pip install git+https://github.com/i-pi/i-pi.git@master-py3
      conda list
      python -c "import adcc;print(adcc.__file__, adcc.__version__)"
      # ADCC causing build failures, beleived to be related to use of pandas 1.3.0.
      # Temporarily printing debug information until problem resolved without needing
      # to blacklist 1.3.0.
    displayName: 'Build Environment'

  - bash: |
      source activate p4env
      python -V
      python -c 'import numpy; print(numpy.version.version)'
      export CXX=${CXX_COMPILER}
      export CC=${C_COMPILER}
      export FC=${F_COMPILER}
      # * can't use conda dist of the more complicated lib pkgs (e.g., CheMPS2, PCMSolver, v2rdm)
      #   b/c their c++ symbols don't mix with the different Travis compilers. for other
      #   reasons, pkgs are being compiled less statically, sad for CI.
      # * can't enable trivial plugins b/c no psi4 for them to detect at start (e.g., snsmp2)
      cmake -Bbuild -H. \
        -DCMAKE_CXX_COMPILER=${CXX_COMPILER} \
        -DCMAKE_C_COMPILER=${C_COMPILER} \
        -DCMAKE_Fortran_COMPILER=${F_COMPILER} \
        -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
        -DMAX_AM_ERI=4 \
        -DCMAKE_PREFIX_PATH=${CONDA}/envs/p4env \
        -DPython_EXECUTABLE="${CONDA}/envs/p4env/bin/python" \
        -DMPFR_ROOT=${CONDA}/envs/p4env \
        -DCMAKE_INSIST_FIND_PACKAGE_gau2grid=ON \
        -DCMAKE_INSIST_FIND_PACKAGE_Libint2=ON \
        -DCMAKE_INSIST_FIND_PACKAGE_Libxc=ON \
        -DENABLE_adcc=ON \
        -DENABLE_CheMPS2=OFF \
        -DENABLE_dkh=ON \
        -DENABLE_libefp=ON \
        -DENABLE_erd=OFF \
        -DENABLE_gdma=ON \
        -DENABLE_PCMSolver=OFF \
        -DENABLE_simint=ON \
        -DENABLE_Libint1t=OFF \
        -DENABLE_snsmp2=OFF \
        -DENABLE_v2rdm_casscf=OFF \
        -DENABLE_PLUGIN_TESTING=ON \
        -DBUILD_Libint2_GENERATOR=OFF \
        -DCMAKE_INSTALL_PREFIX=$(Agent.BuildDirectory)/Install
    displayName: 'Configure Build'

  - bash: |
      cd build
      source activate p4env
      ../devtools/scripts/ci_build.sh
      readelf -d ./stage/lib/psi4/core*.so
      ldd -v ./stage/lib/psi4/core*.so
    displayName: 'Build Psi4'

  - bash: |
      cd build
      source activate p4env
      ./stage/bin/psi4 ../tests/tu1-h2o-energy/input.dat
    displayName: 'Spot Test'

  - bash: |
      cd build
      source activate p4env
      python ../devtools/scripts/ci_run_test.py
      python ../devtools/scripts/ci_print_failing.py
    displayName: 'CTest Tests'

  - bash: |
      cd build
      source activate p4env
      PYTHONPATH=stage/lib/ pytest -v -rws --durations=15 -n 2 -m 'quick' stage/lib/psi4/tests/
    displayName: 'PyTest Tests'
