jobs:
# Configure, build, install, and test job
- job: 'linux_build'
  displayName: 'Linux Builds'
  pool:
    vmImage: 'ubuntu-18.04'
  timeoutInMinutes: 120
  variables:
    CTEST_OUTPUT_ON_FAILURE: 1
    MKL_CBWR: AUTO
  strategy:
    maxParallel: 8
    matrix:
      gcc_52:
        CXX_COMPILER: 'g++-5'
        PYTHON_VER: '3.6'
        C_COMPILER: 'gcc-5'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran gcc-5 g++-5'

      gcc_latest:
        CXX_COMPILER: 'g++'
        PYTHON_VER: '3.7'
        C_COMPILER: 'gcc'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran'

      clang_latest:
        CXX_COMPILER: 'clang++'
        PYTHON_VER: '3.7'
        C_COMPILER: 'clang'
        F_COMPILER: 'gfortran'
        BUILD_TYPE: 'release'
        APT_INSTALL: 'gfortran clang-6.0'

  steps:
  - bash: |
      [[ "${APT_REPOSITORY}" ]] && echo "Add Repo ${APT_REPOSITORY}" && sudo add-apt-repository "${APT_REPOSITORY}"
      sudo apt-get update
      sudo apt-get install ${APT_INSTALL}
    displayName: "Apt-Get Packages"

  - bash: |
      echo "" && echo "Ubuntu"
      lsb_release -a

      echo "" && echo "Uname:"
      uname -a

      echo "" && echo "Free:"
      free -m

      echo "" && echo "df:"
      df -h

      echo "" && echo "Ulimit:"
      ulimit -a

      echo "" && echo "Nprocs:"
      getconf _NPROCESSORS_ONLN

      echo "CXX Ver:"
      ${CXX_COMPILER} --version

      echo "F Ver:"
      ${F_COMPILER} --version

      echo "C Ver:"
      ${C_COMPILER} --version
    displayName: "Setup Information"

  - bash: |
        echo "##vso[task.prependpath]$CONDA/bin"
        conda config --set always_yes yes
    displayName: "Add Conda to PATH"

  - bash: |
      conda create -q -n p4env python=$PYTHON_VER psi4 gau2grid=2 --only-deps -c psi4/label/dev
      source activate p4env
      which python
      conda install \
        dftd3 \
        gcp \
        resp \
        pycppe \
        pylibefp \
        snsmp2 \
        fockci \
        mp2d \
        pytest-xdist \
        pybind11-headers \
        -c psi4/label/dev
      conda install \
        blas=*=mkl \
        mkl-include \
        qcelemental \
        qcengine \
        pymdi \
        adcc \
        -c adcc \
        -c conda-forge
      pip install git+https://github.com/i-pi/i-pi.git@master-py3
      conda list
    displayName: 'Build Environment'

  - bash: |
      source activate p4env
      python -V
      python -c 'import numpy; print(numpy.version.version)'
      export CXX=${CXX_COMPILER}
      export CC=${C_COMPILER}
      export FC=${F_COMPILER}
      # * can't use conda dist of the more complicated lib pkgs (e.g., CheMPS2, PCMSolver, v2rdm)
      #   b/c their c++ symbols don't mix with the different Travis compilers. for other
      #   reasons, pkgs are being compiled less statically, sad for CI.
      # * can't enable trivial plugins b/c no psi4 for them to detect at start (e.g., snsmp2)
      cmake -Bbuild -H. \
        -DCMAKE_CXX_COMPILER=${CXX_COMPILER} \
        -DCMAKE_C_COMPILER=${C_COMPILER} \
        -DCMAKE_Fortran_COMPILER=${F_COMPILER} \
        -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
        -DCMAKE_PREFIX_PATH=${CONDA}/envs/p4env \
        -DPYTHON_EXECUTABLE="${CONDA}/envs/p4env/bin/python" \
        -DENABLE_adcc=ON \
        -DENABLE_CheMPS2=OFF \
        -DENABLE_dkh=ON \
        -DENABLE_libefp=ON \
        -DENABLE_erd=OFF \
        -DENABLE_gdma=ON \
        -DENABLE_PCMSolver=OFF \
        -DENABLE_simint=ON \
        -DENABLE_snsmp2=OFF \
        -DENABLE_v2rdm_casscf=OFF \
        -DENABLE_PLUGIN_TESTING=ON \
        -DCMAKE_INSTALL_PREFIX=$(Agent.BuildDirectory)/Install
    displayName: 'Configure Build'

  - bash: |
      cd build
      source activate p4env
      ../devtools/scripts/ci_build.sh
    displayName: 'Build Psi4'

  - bash: |
      cd build
      source activate p4env
      ./stage/bin/psi4 ../tests/tu1-h2o-energy/input.dat
    displayName: 'Spot Test'

  - bash: |
      cd build
      source activate p4env
      python ../devtools/scripts/ci_run_test.py
      python ../devtools/scripts/ci_print_failing.py
    displayName: 'CTest Tests'

  - bash: |
      cd build
      source activate p4env
      PYTHONPATH=stage/lib/ pytest -v -rws --durations=15 -n 2 -m 'quick' stage/lib/psi4/tests/
    displayName: 'PyTest Tests'
